body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}

nav {
  background: #111;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00adb5;
}

.container {
  padding: 30px;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
h1 {
  color: #222;
}

h3 {
  color: #555;
}

a {
  color: #00adb5;
}

a:hover {
  text-decoration: underline;
}

 